.table {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.8rem;
  border-collapse: collapse;
  margin-bottom:20px;
  tr {
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
  }
  .thead-dark {
    th {
      color: #fff;
      background-color: #363b4a;
    }
  }
  th,
  td {
    text-align: left;
    padding: 15px;
  }
  tr:nth-child(odd) {
    background-color: #fafafa;
  }
}
