html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
}
.form-control {
  padding: 30px;
}
.table {
  table-layout: fixed;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.table .thead-dark th {
  background-color: #363b4a;
}
.gm-style .gm-style-iw {
  background-color: #f00;
}
.gm-style-iw.clean-record {
  background-color: #0a0;
}
.gm-style-iw.gm-style-iw-c {
  padding: 20px !important;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.gm-style-iw.gm-style-iw-c .gm-style-iw-d {
  overflow: hidden !important;
}
.gm-style .gm-style-iw-t::after {
  background: #f00;
}
.gm-style .gm-style-iw-t.clean-record::after {
  background: #0a0;
}

.gm-ui-hover-effect {
  display: none !important;
}
#map {
  box-shadow: 0 0 20px #363b4a;
}
.col-md-6 {
  max-height: 100%;
  overflow-y: scroll;
}
